[submodule "01_-_Getting_started_with_OMNETpp_INET_Veins_and_SUMO/inet"]
	path = 01_-_Getting_started_with_OMNETpp_INET_Veins_and_SUMO/inet
	url = git@github.com:inet-framework/inet.git
[submodule "01_-_Getting_started_with_OMNETpp_INET_Veins_and_SUMO/veins"]
	path = 01_-_Getting_started_with_OMNETpp_INET_Veins_and_SUMO/veins
	url = git@github.com:sommer/veins.git
[submodule "02_-_How_to_Create_a_New_OMNETpp_Project_That_Works_with_INET_and_Veins/inet"]
	path = 02_-_How_to_Create_a_New_OMNETpp_Project_That_Works_with_INET_and_Veins/inet
	url = git@github.com:inet-framework/inet.git
[submodule "02_-_How_to_Create_a_New_OMNETpp_Project_That_Works_with_INET_and_Veins/veins"]
	path = 02_-_How_to_Create_a_New_OMNETpp_Project_That_Works_with_INET_and_Veins/veins
	url = git@github.com:sommer/veins.git
